@model IEnumerable<kursach.Models.Policy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnualFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceTypeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnualFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceTypeNavigation.TypeDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PolicyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PolicyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PolicyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
